# Entornos virtuales
.venv/
venv/
env/

# Modelos Vosk
vosk-model-*/
*.zip

# Python
__pycache__/
*.pyc
*.pyo

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

*.sqlite3
*.sqlite3.backup-*
firebase-service-account.json
!config/firebase-service-account.json
web_firestore.json
