# Entornos virtuales
.venv/
venv/
env/

# Modelos Vosk
vosk-model-*/
*.zip

# Python
__pycache__/
*.pyc
*.pyo

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

/media

*.sqlite3
firebase-service-account.json
